@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>@ViewBag.Title</h1>

    <div id="add-feature">
        Name : <input type="text" name="name" />
        Description: <input type="text" name="name" />
        <button value="Add" id="add-btn">Add</button>
    </div>

</div>


